body{
    background: linear-gradient(360deg, green,rgb(25, 235, 224),rgb(215, 228, 215));
}


#trees{
    color: rgb(70, 90, 70);
    background:rgb(153, 226, 7);
}
#imp{
    color: #dcffdc;
    background:rgb(12, 184, 236);
}
#ever{
    color:black ;
    background: rgb(68, 204, 68);
}
#save{
    color:navy;
    background:rgb(71, 219, 230);
}
table {
    width: 100%;
    margin: 30px 0px;
}

img {
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}
#tab{
    text-align: center;
    background-color: rgb(240, 202, 224);
}